@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  font-family: "Roboto";
}

.App {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: transparent;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.carousel-img {
  width: 700px;
  height: 495px;
  object-fit: contain;
  padding: 0 20px 0 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators>button {
  margin: 5px;
  background: none;
}

/* .indicator-symbol {
} */

.indicator-symbol-active {
  color: gray;
}

* {
  color: #fff;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
}

.white-link {
  color: white;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  display: grid;
  place-items: center;
}

.white-link:hover {
  color: gray;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.article-link {
  color: white;
}

.article-link:hover {
  color: gray;
}